.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 920px;

  @media @tablet {
    // max-height: none;
    max-width: 880px;
    margin: 0 auto;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-around;
  }

  .card {
    border-radius: 5px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .experience-card {
    width: 280px;
    border: 0.5px solid @grey-400;
    margin-bottom: 24px;
    transition: background-color 0.15s ease;

    &:nth-child(n+6) {
      @media @tablet {
        display: none;
      }
    }
    
    &:nth-child(n+3) {
      @media @phone {
        display: none;
      }
    }

    @media @tablet {
      min-width: 220px;
      max-width: 300px;
      width: 45%;
    }

    @media @phone {
      width: 100%;
      max-width: 320px;
    }

    &:hover {
      background-color: @primary-100;
      transition: background-color 0.1s ease;
    }

    .card-img {
      width: 100%;
      height: 180px;
    }

    .title {
      font-size: 1.375rem;
      font-weight: 500;
      line-height: 27px;
      padding: 8px 10px;
    }

    .description {
      margin: 12px;
      font-weight: 300;
      font-size: 0.875rem;
      line-height: 18px;
    }

    button {
      font-weight: 300;
      .btn-outline(@primary-600, @primary-500);
      float: right;
      margin: 16px 8px 8px 0;
    }
  }

  .experience-card.no-image {
    .title {
      border-bottom: 0.5px solid @grey-400;
    }

    @media @tablet {
      display: none;
    }
  }

  &.category {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media @tablet {
      justify-content: space-around;
      align-content: stretch;
      flex-wrap: nowrap;
      overflow: hidden;
    }
  }

  .category-card {
    width: 296px;
    height: 344px;
    position: relative;

    @media @tablet {
      min-width: 220px;
      max-width: 300px;
      height: 240px;
      width: 45%;
      margin: 2%;
    }

    @media @phone {
      width: 100%;
      max-width: 320px;
      height: 344px;

    }
    &:nth-child(n+2) {
      @media @phone {
        display: none;
      }
    }

    &:nth-child(n+3) {
      @media @tablet {
        display: none;
      }
    }

    &:hover {
      img {
        transition: opacity 0.1s ease;
        opacity: 0.7;
      }
    }

    .card-img {
      width: 100%;
      height: 100%;
      img {
        border-radius: 5px;
        object-fit: cover;
        transition: opacity 0.2s ease;
      }
    }

    .title {
      font-size: 1.375rem;
      font-weight: 500;
      line-height: 27px;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px;
      padding: 16px;
      background-color: rgba(240, 242, 245, 0.75);
    }

  }
}
