header.hero {
  background-image: url('/img/hero.png');
  height: 680px;
}

section.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 620px;
  width: 640px;

  h2 {
    margin-bottom: 0;
  }

  .explain-steps {
    h3 {
      margin-bottom: 4px;
    }
  }
}