.hero {
  height: 680px;

  h3 {
    font-weight: 300;
  }
}
header.hero {
  background-image: url('/img/hero.png');
}

.hero.guide {
  background-image: url('/img/guide-bg.png');
  color: white;

  h2, h3, button {
    margin: 8px 0;
  }

  .hero-text {
    max-width: 580px;
  }
}

.hero.end {
  height: auto;
}

section.how-it-works {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 620px;
  width: 640px;

  h2 {
    margin-bottom: 0;
  }

  .explain-steps {
    h3 {
      margin-bottom: 4px;
    }
  }
}