nav {
  height: 120px;
  width: 1024px;
  margin: 0 auto;
  background-color: white;
  vertical-align: text-bottom;
  padding: 28px 40px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  @media @tablet {
    width: 100%;
    height: auto;
    min-height: 110px;
    padding: 16px;
    flex-flow: row wrap;
    align-content: space-between;
  }

  @media @phone {
    padding: 0px;
  }

  .brandmark {
    font-family: 'Merriweather', serif;
    font-size: 2.25rem;
    flex-grow: 2;
    @media @tablet {
      display: block;
      text-align: center;
    }
    @media @phone {
      padding: 16px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 40%;

    @media @tablet {
      width: 100%;
      justify-content: space-around;
      font-size: 1.2rem;
    }

    @media @phone {
      flex-direction: column;
      align-items: center;

      li {
        padding: 8px;
        border-top: 0.5px solid @grey-100;
        text-align: center;
        display: block;
        width: 100%;
      }
    }
  }
}